{% extends "base.html" %}
{% set active_page = "Home" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
      <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
          <h2>
              <img
                  class="pull-left mr-5"
                  src="{{config.logo.image}}"
                  height={{config.logo.height | default("auto") | tojson}}
                  width={{config.logo.width | default("auto") | tojson}}
              />
              {{config.tagline|safe}}
          </h2>
          <!-- <h2 class="p-5">
               {{config.date|safe}}
               </h2>
          -->
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
<h2>
<center>
<img
  class="pull-left mr-5"
  src="{{config.group_photo}}"
  width={{config.photo_width | default("auto") | tojson}}
/></center>
</h2>
{{ introduction | markdown }}

<link rel="stylesheet" href="static/css/news.css" />
<div class="twitter">
    <div style="margin-right: 100px">
        {{ components.section("News") }}
        <div class="container" >
          <div class="row mb-3">
              <div class="col-12 card-text">
                <ul class="news-list" style="font-family: 'Exo'">
                    {% for info in news[:8] %}
                        <li style="margin-bottom: 10px"><span class="news-item-date" style="font-weight: bold; font-family: 'Lato'; display: inline-block; width: 96px;">
                            {{ info.date }}:</span>  {{ info.message | markdown }}</li>
                    {% endfor %}
                </ul>
              </div>
          </div>
          {{ end }}
        </div>
    </div>
    <div>
        <a class="twitter-timeline" data-width="350" data-height="700" href="https://twitter.com/ucl_dark?ref_src=twsrc%5Etfw">
        Tweets by ucl_dark</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

<!-- People -->
{{ components.section("Faculty") }}
{{ components.organizergroup(faculty) }}

{{ components.section("PhD Students") }}
{{ components.organizergroup(phd) }}

{{ components.section("Msc Students") }}
{{ components.organizergroup(msc) }}

{{ components.section("Alumni") }}
{{ components.organizergroup(alumni) }}

{% endblock %}
