{% extends "base.html" %}
{% set active_page = "Home" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
      <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
          <h2>
              <img
                  class="pull-left mr-5"
                  src="{{config.logo.image}}"
                  height={{config.logo.height | default("auto") | tojson}}
                  width={{config.logo.width | default("auto") | tojson}}
              />
              {{config.tagline|safe}}
          </h2>
          <!-- <h2 class="p-5">
               {{config.date|safe}}
               </h2>
          -->
      </div>
  </div>
</div>
{% endblock %}

{% block content %}

{{ introduction | markdown }}

<link rel="stylesheet" href="static/css/news.css" />
<div class="twitter">
    <div>
    <section id="news" class="section-row section-publications homepage-row" >
        {{ components.section("News") }}
        <div class="container">
          <div class="row mb-3">
              <div class="col-12">
                <ul class="news-list">
                    {% for info in news %}
                        <li>{{ info.date }}: {{  info.message | markdown }}</li>
                    {% endfor %}
                </ul>
              </div>
          </div>
          {{ end }}
        </div>
    </section>
    </div>
    <div>
        <a class="twitter-timeline" data-width="350" data-height="500" href="https://twitter.com/ucl_dark?ref_src=twsrc%5Etfw">
        Tweets by ucl_dark</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

<!-- People -->
{{ components.section("Faculty") }}
{{ components.organizergroup(faculty) }}

{{ components.section("Researchers") }}
{{ components.organizergroup(researchers) }}

{{ components.section("PhD Students") }}
{{ components.organizergroup(phd) }}

{{ components.section("Master's Students") }}
{{ components.organizergroup(msc) }}

{{ components.section("Alumni") }}
{{ components.organizergroup(alumni) }}

{% endblock %}
