{% set page_title = speaker.title %}
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="static/css/speaker.css" type="text/css"/>
<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{speaker.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{speaker.speaker}} / {{speaker.institution}}
    </h3>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Abstract & Bio
      </a>
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{speaker.abstract|safe}} <br /><br />

        <span class="font-weight-bold">Bio:</span>
        {{speaker.bio|safe}}
      </div>
    </div>
      <div class="videoWrapper">
          <iframe width="560" height="315" src={{ speaker.video }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>
</div>

<!-- Presentation Embed -->

{% endblock %}
